$fontStack:    Helvetica, sans-serif;
$fontColorMain: #CCC;
$fontColorAlt: #333;
$linkColorMain: #CCC;
$linkColorAlt: #333;
$backgroundColorMain: #444;
$backgroundColorMain2: #222;
$backgroundColorAlt: #CCC;